@import url(https://fonts.googleapis.com/css?family=Lemon:regular);
@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

:root {
    zoom: 150%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: #262626;
    overflow-x: hidden;
}

h1 {
    font-size: 24px;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: -20px;
}

.special {
    height: 225px;
    margin-left: 55px;
}

.cat {
    height: 220px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    height: 300px;
    width: 400px;
}




