@import url(https://fonts.googleapis.com/css?family=Lemon:regular);

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lemon';
    background-color: rgb(243, 175, 237);
}



